<table>
  <tr>
    <th>Id</th>
    <th>Url</th>
  </tr>
  <% @bookmarks.each do |bookmark| %>
    
    <% bookmark_fields = bookmark.split(',')%>
    <tr>
      <td><%= bookmark_fields[0] %></td>
      <td><%= bookmark_fields[1] %></td>
    </tr>
  <%end %>
</table>

<form method="get" action="/add_bookmark">
<input type="submit" value="Add bookmark">
</form>