<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
  </tr>
  <% @bookmarks.each do |bookmark| %>
    
    <tr>
      <td><%= bookmark.id %></td>
      <td href="<%= bookmark.url%>"><%= bookmark.title %></td>
    </tr>
  <%end %>
</table>

<form method="get" action="/add_bookmark">
<input type="submit" value="Add bookmark">
</form>